{% block json_widget %}
    <div id="{{ id }}_errors"></div>
    <div id="{{ id }}_json"></div>
    <script>
        var {{ id }}schema = {{  schema|raw }}
        window.editor{{ id }}startval = null
        function {{ id }}_load(value, schema){
            var schema = (schema)? schema:{{  schema|raw }};
            JSONEditor.defaults.options.theme = '{{ theme }}';
            if(value){
                window.editor{{ id }}startval = value;
            }
            if(window.editor{{ id }}) {
                window.editor{{ id }}.destroy()
            }
            window.editor{{ id }} = new JSONEditor(document.getElementById("{{ id }}_json"),{
                schema: schema,
                disable_collapse: true,
                disable_properties: true,
                form_name_root: '{{ full_name }}',
                disable_edit_json: {{ disable_edit_json }},
                no_additional_properties: {{ no_additional_properties }},
                required_by_default: {{ required_by_default }}
            });

            if(value){
                window.editor{{ id }}.setValue(value);
            }else{
                window.editor{{ id }}.setValue(window.editor{{ id }}startval);
            }
            window.editor{{ id }}.on("change",  function() {
                var errors = window.editor{{ id }}.validate();
                $('#{{ id }}_errors').html("");
                if(errors.length) {
                    console.log(errors);
                    //$('#{{ id }}_errors').html("Erreur schema");
                }
            });
        };
        {{ id }}_load({{ value|json_encode()|raw }},{{ id }}schema);
    </script>
{% endblock %}

{% block url_autocomplete_widget %}
<select id="{{name}}" name="{{full_name}}" class="form-control" data-{{name|lower}}-autocomplete-url-lle='{{ url }}'>
    <option value="{{value}}" selected="selected">{{ value_filter ? include(template_from_string( "{{ value |" ~ value_filter ~ "}}")) : value }}</option>
</select>

<script>
    $(document).ready(function() {
        var lleAutocompleteFields = $('[data-{{name|lower}}-autocomplete-url-lle]');

        lleAutocompleteFields.each(function() {
            var $this = $(this);
            var url = $this.data('{{name|lower}}-autocomplete-url-lle');

            // select2 config for easyadmin
            $this.select2({
                theme: 'bootstrap',
                ajax: {
                    url: url,
                    dataType: 'json',
                    xhrFields: {
                        withCredentials: true
                    },
                    delay: 250,

                    // paramètres GET
                    data: function (params) {
                        // the _ is here to force easyadmin return results even if query is empty
                        return { 'query': params.term || "_", 'page': params.page };
                    },

                    // analyse json reçu
                    processResults: function (data, params) {
                        return {
                            results: data.results,
                            pagination: {
                                more: data.has_next_page
                            }
                        };
                    }
                },
                placeholder: 'Sélectionnez une valeur',
                allowClear: true
            });
        });
    })
</script>
{% endblock %}


{% block lego_gedmo_translatable_widget %}
    {% spaceless %}
        {% set fieldname = form.vars.name %}
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                {% for locale in locales %}
                    {% set isActiveTab = (locale == currentlocale) ? 'active' : '' %}
                    {# TAB LABEL #}
                    <li class="{{ isActiveTab }}">
                        <a aria-expanded="true" href="{{ '#' ~ fieldname ~ '_' ~ locale }}" data-toggle="tab">
                            {{ tablabels[locale] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for locale in locales %}
                    {% set isActiveTabContent = (locale == currentlocale) ? 'active' : '' %}
                    {# TAB CONTENT #}
                    <div class="tab-pane {{ isActiveTabContent }}" id="{{ fieldname ~ '_' ~ locale }}">
                        {{ form_widget(attribute(form, locale)) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}