<select  id="input-{{ id }}" type="text" value="{{ value }}" class="form-control">
</select>
<span id="eip-loader-{{ id }}" class="fa fa-spinner fa-pulse"></span>
<script>
    var {{ loader }}_ok = false;
    function {{ loader }}(){
        if({{ loader }}_ok === false) {
            {{ loader }}_ok = true;
            $('#eip-loader-{{ id }}').show();
            $('#input-{{ id }}').hide();
            $.ajax({
                method: "POST",
                url: '{{ path('easyadmin', {'action':'eipEntityChoice', 'entity': _entity_config.name, 'id': item.id})|raw }}',
                data: {
                    'entity_target': '{{ metadata.targetEntity|replace({'\\':'/'}) }}',
                    'fieldName': '{{ metadata.property }}',
                    'view': '{{ view }}',
                    'entity_source': '{{ metadata.sourceEntity|replace({'\\':'/'})  }}',
                    'entity_source_id': {{ item.id }} },
                dataType: "json",
            }).success(function (data) {
                {%  if valueRaw %}
                let id = {{ valueRaw.id }};
                {%  else %}
                let id = null;
                {%  endif %}
                for (var v in data) {
                    $('#input-{{ id }}').append(new Option(data[v],v, null, (id == v)));
                }
                $('#eip-loader-{{ id }}').hide();
                $('#input-{{ id }}').select2({'width':'100%'});
                $('#input-{{ id }}').show();
            });
        }
    }
</script>