<div class="input-group">
    <div class="input-group-btn">


        <button type="button" class="btn btn-default dropdown-toggle {{ nameprefix }}button{{ namesuffix }}"
                data-toggle="dropdown" aria-expanded="false">

            <i title="Avant le" class="fa fa-angle-left before"></i>
            <i title="Après le" class="fa fa-angle-right after"></i>
            <i title="Le" class="fa fa-calendar-o equal"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                       onclick="return lle.filter_set_button('#{{ nameprefix }}comparator{{ namesuffix }}','.{{ nameprefix }}button{{ namesuffix }}','equal');">
                    <i class="fa fa-calendar-o"></i>Le</a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                       onclick="return lle.filter_set_button('#{{ nameprefix }}comparator{{ namesuffix }}','.{{ nameprefix }}button{{ namesuffix }}','before');">
                    <i class="fa fa-angle-left"></i>Avant le</a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                       onclick="return lle.filter_set_button('#{{ nameprefix }}comparator{{ namesuffix }}','.{{ nameprefix }}button{{ namesuffix }}','after');">
                    <i class="fa fa fa-angle-right"></i>Aprés le</a>
            </li>

        </ul>


    </div><!-- /btn-group -->

    <input type="hidden" class="form-control" id="{{ nameprefix }}comparator{{ namesuffix }}"
           name="{{ nameprefix }}comparator{{ namesuffix }}"
           {% if data.comparator is defined %}value="{{ data.comparator }}"{% endif %}>

    <input type="text" name="{{ nameprefix }}value{{ namesuffix }}"
           class="form-control datepicker form_datepicker{{ nameprefix }}{{ namesuffix }}"
           id="_{{ nameprefix }}value{{ namesuffix }}"
           {% if data.value is defined %}value="{{ data.value }}"{% endif %} />
</div><!-- /input-group -->

<script>
    $('#_{{ nameprefix }}value{{ namesuffix }}').datepicker({
    {% for option,value in filtertype.datePickerOptions %}
    {{ option }}:
    '{{ value }}',
    {% endfor %}
    })
    ;

    $(document).ready(function () {
        lle.filter_set_button('#{{ nameprefix }}comparator{{ namesuffix }}', '.{{ nameprefix }}button{{ namesuffix }}', '{% if data.comparator is defined %}{{ data.comparator }}{% else %}equal{% endif %}');
    });
</script>
