{% if data is defined and data.value is defined %}
	{% set value = data.value %}
	{% set label = data.value_label %}
{% else %}
	{% set value = null %}
	{% set label = null %}
{% endif %}

<select id="{{nameprefix}}id{{namesuffix}}" name="{{nameprefix}}value{{namesuffix}}" class="form-control" data-{{namesuffix|lower}}-autocomplete-url-lle='{{ filtertype.url  }}'>
    <option value="{{value}}" selected="selected">{{ filtertype.valueFilter ? include(template_from_string( "{{ value |" ~ filtertype.valueFilter ~ "}}")) : value }}</option>
</select>

<script>
    $(document).ready(function() {
        var lleAutocompleteFields = $('[data-{{namesuffix|lower}}-autocomplete-url-lle]');

        lleAutocompleteFields.each(function() {
            var $this = $(this);
            var url = $this.data('{{namesuffix|lower}}-autocomplete-url-lle');

            // select2 config for easyadmin
            $this.select2({
                theme: 'bootstrap',
                ajax: {
                    url: url,
                    dataType: 'json',
                    xhrFields: {
                        withCredentials: true
                    },
                    delay: 250,

                    // paramètres GET
                    data: function (params) {
                        // the _ is here to force easyadmin return results even if query is empty
                        return { 'query': $.trim(params.term) || "_", 'page': params.page };
                    },

                    // analyse json reçu
                    processResults: function (data, params) {
                        return {
                            results: data.results,
                            pagination: {
                                more: data.has_next_page
                            }
                        };
                    }
                },
                placeholder: 'Sélectionnez une valeur',
                allowClear: true
            });
        });
    })
</script>