   <div class="input-group">


<input type="hidden" class="form-control" id="{{nameprefix}}comparator{{namesuffix}}" name="{{nameprefix}}comparator{{namesuffix}}" {% if data.comparator is defined %}value="{{data.comparator}}"{% endif %}>


<input type="text"  class="form-control"  aria-label="..." name="{{nameprefix}}value{{namesuffix}}"
      {% if data.value is defined %}
        value="{{data.value}}"
      {% endif %}
        />

        <div class="input-group-btn">
         <button type="button" class="btn btn-default dropdown-toggle {{nameprefix}}button{{namesuffix}}" data-toggle="dropdown" aria-expanded="false">

           <i title="{{ 'filter.exact_string.equals' | trans({}, 'EasyAdminPlusBundle') }}" class="fa equals">=</i>
           <i title="{{ 'filter.exact_string.is_null' | trans({}, 'EasyAdminPlusBundle') }}" class="fa fa-square-o isnull"></i>
         </button>
         <ul class="dropdown-menu pull-right" role="menu">
           <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="return lle.filter_set_button('#{{nameprefix}}comparator{{namesuffix}}','.{{nameprefix}}button{{namesuffix}}','equals');">
             <i class="fa"></i>=</a>
           </li>
           <li role="presentation"><a role="menuitem" tabindex="-1" href="#"  onclick="return lle.filter_set_button('#{{nameprefix}}comparator{{namesuffix}}','.{{nameprefix}}button{{namesuffix}}','isnull');">
             <i class="fa fa-square-o "></i>{{ 'filter.exact_string.is_null' | trans({}, 'EasyAdminPlusBundle') }}</a>
           </li>
         </ul>

       </div><!-- /btn-group -->
    </div><!-- /input-group -->


<script>
$(document).ready(function() {
  lle.filter_set_button('#{{nameprefix}}comparator{{namesuffix}}','.{{nameprefix}}button{{namesuffix}}','{% if data.comparator is defined %}{{data.comparator}}{% elseif filtertype.defaultComparator is defined %}{{filtertype.defaultComparator}}{% else %}equals{% endif %}');
});
</script>
