{% for action in actions %}
    {% if 'list' == action.name %}
        {% set action_href = request_parameters.referer|default('') ? request_parameters.referer|easyadmin_urldecode : path('easyadmin', request_parameters|merge({ action: 'list' })) %}
    {% elseif 'method' == action.type %}
        {% set action_href = path('easyadmin', request_parameters|merge({ action: action.name, id: item_id })) %}
    {% elseif 'route' == action.type %}
        {% set action_href = path(action.name, request_parameters|merge({ action: action.name, id: item_id })) %}
    {% endif %}

    <a class="{{ action.css_class|default('') }}" title="{{ action.label|trans(arguments = trans_parameters|merge({ '%entity_id%': item_id }), domain = translation_domain) }}" href="{{ action_href }}" target="{{ action.target }}">
        
        {% if action.icon %}
            {# Config icon #}
            <i class="fa fa-{{ action.icon }}"></i>
        {% else %}
            {# Default icons #}
            {% if action.name == "show" %}
                <i class="fa fa-search"></i>
            {% elseif action.name == "edit" %}
                <i class="fa fa-edit"></i>
            {% elseif action.name == "delete" %}
                <i class="fa fa-trash"></i>
            {% endif %}
        {% endif %}

        {% if 'list' == app.request.query.get('action') %}        
            {# Still allow to put labels, by specifying "title" #}
            {% if action.title is defined and not action.title is empty %}
                {{ action.title|trans(arguments = trans_parameters|merge({ '%entity_id%': item_id }), domain = translation_domain) }}
            {% endif %}
        {% else %}
            {{ action.label|trans(arguments = trans_parameters|merge({ '%entity_id%': item_id }), domain = translation_domain) }}
        {% endif %}
    </a>
{% endfor %}

