{% set class_drop = (position is defined and position=='bottom') ? 'dropup' : 'dropdown' %}
{% set id = (position is defined and position=='bottom') ? 'bottom' : 'top' %}
<div class="batch-actions-infos box">
    <div class="box-header">
        <h4><span class="box-header__title"><i
                        class="fa {% if class_drop == 'dropup' %}fa-arrow-up{% else %}fa-arrow-down{% endif %}"
                        aria-hidden="true"></i>&nbsp;&nbsp;{{ 'Actions massives'|trans({}, 'EasyAdminPlusBundle') }} : <span
                        class="text-lowercase">{{ 'label.batchActions.help'|trans({}, 'EasyAdminPlusBundle') }}</span></span>
        </h4>
    </div>

</div>

<div class="batch-actions box hidden">
    <div class="box-header">
        <h4><span class="box-header__title">{{ 'Actions massives'|trans({}, 'EasyAdminPlusBundle') }}</span>
            <div style="display:inline-block" class="{{ class_drop }}">
                <button class="dropdown-toggle btn btn-default batch-list" id="dropdownBatchActionButton-{{ id }}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'label.batchActions.title'|trans({}, 'EasyAdminPlusBundle') }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownBatchActionButton-{{ id }}"
                    id="dropdown-batch-{{ id }}">
                    {% for action, actiondata in _entity_config.list.batchs %}
                        {% if actiondata.role is null or is_granted(actiondata.role) %}
                            <li><a href="javascript:void(0)"
                                   onclick="showBatchForm('{{ actiondata.name }}','{{ actiondata.icon }}', '{{ (actiondata.label)|trans }}')">
                                    {% if actiondata.icon is not null %}
                                        <span style="text-align:left;"><i
                                                    class="fa fa-{{ actiondata.icon }}"></i> {{ (actiondata.label)|trans }}</span>
                                    {% else %}
                                        <span style="text-align:left;">{{ (actiondata.label)|trans }}</span>
                                    {% endif %}
                                    <span class="fa fa-angle-right"></span>
                                </a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </h4>
        <div class="clearfix">
            <div class="hidden js-all-selection-none">
                <span><i class="fa fa-dot-circle-o"></i>&nbsp;{{ 'label.batchthispage' | trans({}, 'EasyAdminPlusBundle') }}</span><br/>
                <span class="js-all-selection"><i class="fa fa-circle-o"></i>&nbsp;{{ 'label.batchallpage' |trans({}, 'EasyAdminPlusBundle') }}</span>
            </div>
            <div class="hidden js-all-selection-active">
                <span class="js-all-selection"><i class="fa fa-circle-o"></i>&nbsp;{{ 'label.batchthispage' | trans({}, 'EasyAdminPlusBundle') }}</span><br/>
                <span><i class="fa fa-dot-circle-o"></i>&nbsp;{{ 'label.batchallpage' | trans({}, 'EasyAdminPlusBundle') }}</span>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                {% for action, actiondata in _entity_config.list.batchs %}
                    {% if (actiondata.role is null or is_granted(actiondata.role)) %}
                        {% set href = path('easyadmin', app.request.query|merge({ action: 'batch', name: action })|merge(actiondata.params)) %}
                        {% set formname = 'action-' ~ actiondata.name ~ '-' ~ position %}
                        <form class="batch_form batch_{{ actiondata.name }} hidden " action="#" method="POST"
                              name="{{ formname }}">
                            <div class="form-group">
                                <div class="input-group">
                                    {% set isForm = batch_forms[actiondata.name] is defined and position == 'bottom' %}
                                    <div {% if isForm %}class="batchForms form-inline"
                                         id="batch_form_view_{{ actiondata.name }}"{% endif %} >
                                        {% if isForm %}
                                            {% for  field in batch_forms[actiondata.name] %}
                                                {% if field.vars.label or loop.first %}
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <label>{% if field.vars.label %}{{ field.vars.label }}{% elseif(loop.first) %}{{ (actiondata.label)|trans }}</label>{% endif %}
                                                            </div>
                                                            {{ form_widget(field) }}
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="form-group">{{ form_widget(field) }}</div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <button class="btn btn-primary js-bulk-button disabled"
                                                {% if actiondata.confirm %}
                                            data-toggle="modal" data-target="#confirm-batch" data-href="{{ href }}" data-form="{{ formname }}"
                                        {% else %}
                                            onclick="return doBulkAction('{{ href }}', '{{ formname }}')"
                                                {% endif %}>{{ 'batch.execute'|trans({}, 'EasyAdminPlusBundle') }}
                                            {% if not isForm %}"<span class="batch-action-name"></span>"{% endif %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
