
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" id="dropdownBatchActionButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn-batch">
            {{ 'label.batchActions.title'|trans }}
            <span class="caret"></span>
            </a>
              
            <ul class="dropdown-menu" aria-labelledby="dropdownBatchActionButton" id="dropdown-batch">
                {% for action, actiondata in _entity_config.list.batchs %}
                    {% if actiondata.role is null or is_granted(actiondata.role) %}
                            <li><a href="javascript:void(0)"
                                    onclick="showBatchForm('{{actiondata.name}}')" 
                                >
                                {% if actiondata.icon is not null %}
                                    <i class="fa fa-{{ actiondata.icon }} }}"></i> {{ (actiondata.label)|trans }}
                                {% else %}
                                    {{ (actiondata.label)|trans }}
                                {% endif %}
                                {# {% if batch_forms[actiondata.name] is defined %} #}
                                    &nbsp;<span class="pull-right fa fa-angle-right"></span>
                                {# {% endif %} #}
                            </a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
      </ul>
      <div class="navbar-form navbar-left navbar-batch">
        {% for action, actiondata in _entity_config.list.batchs %}
            {% if (actiondata.role is null or is_granted(actiondata.role)) %}
                <div  id="batch_{{actiondata.name}}" class="batch_form hidden">
                
                     {% if actiondata.icon is not null %}
                        <i class="fa fa-{{ actiondata.icon }} }}"></i> {{ (actiondata.label)|trans }}
                    {% else %}
                        {{ (actiondata.label)|trans }}
                    {% endif %}
                   
                {% if  batch_forms[actiondata.name] is defined %}
                    <div class="batchForms form-group form-inline">
                        {{ form_widget(batch_forms[actiondata.name]) }}
                    </div>
                {% endif %}
                {% set href = path('easyadmin', app.request.query|merge({ action: 'batch', name: action })|merge(actiondata.params)) %}
                <button class="btn btn-default js-bulk-button disabled"  
                    {% if actiondata.confirm %} 
                        data-toggle="modal" data-target="#confirm-batch" data-href="{{ href }}" 
                    {% else %}
                        onclick="return doBulkAction('{{ href }}')"
                    {% endif %}
                    >{{'batch.execute'|trans}}</button>
            </div>
            {% endif %}
        {% endfor %}
      </div>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div id="confirm-batch" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>{{ 'batch_modal.title'|trans }}</h4>
                <p>{{ 'batch_modal.content'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">
                    {{ 'action.cancel'|trans }}
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-ok" id="modal-delete-button" >
                    {{ 'batch_modal.action'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function doBulkAction(url) {
        oneChecked = validateBulkCheckboxes();
        if(oneChecked) {
            document.bulkform.action = url;
            document.bulkform.submit();
        }

        return false;
    }


    function validateBulkCheckboxes() {
        var allChecked = true;
        var oneChecked = false;

        var checkboxes = document.querySelectorAll('.js-bulk-checkbox');
        for (var i=0; i<checkboxes.length; i++) {
            var cb = checkboxes[i];
            if (cb.checked == true) {
                oneChecked = true;
            } else {
                allChecked = false;
            }
        }

        $('#js-all-bulk-checkbox').prop('checked', allChecked);

        if (oneChecked) {
            $('.js-bulk-button').removeClass('disabled');
        } else {
            $('.js-bulk-button').addClass('disabled');
        }
        return oneChecked;
    }

    function showBatchForm(name) {
        $('.batch_form').addClass('hidden');
        if(name){
                $('#batch_'+name).removeClass('hidden');
        }

    }

    var allCheckbox = document.getElementById('js-all-bulk-checkbox');
    allCheckbox.onchange = function() {
        if (allCheckbox.checked == true) {
            $('.js-bulk-checkbox').prop('checked', true);
            $('.js-bulk-button').removeClass('disabled');
            if($('#all-selection').val() == 0) {
                $('.js-all-selection-none').removeClass('hidden');
            } else {
                $('.js-all-selection-active').removeClass('hidden');
            }
        } else {
            $('.js-bulk-checkbox').prop('checked', false);
            $('.js-bulk-button').addClass('disabled');
            $('.js-all-selection-none').addClass('hidden');
            $('.js-all-selection-active').addClass('hidden');
        }
    };

    $( ".js-all-selection" ).click(function() {
        if($('#all-selection').val() == 1) {
            $('#all-selection').val(0);
            $('.js-all-selection-none').removeClass('hidden');
            $('.js-all-selection-active').addClass('hidden');
        } else {
            $('#all-selection').val(1);
            $('.js-all-selection-none').addClass('hidden');
            $('.js-all-selection-active').removeClass('hidden');
        }
        
    });

    var checkboxes = document.querySelectorAll('.js-bulk-checkbox');
    for (var key in checkboxes) {
        checkboxes[key].onchange = validateBulkCheckboxes;
    }
    
    $('#confirm-batch').on('click', '.btn-ok', function(e) {
            var $modalDiv = $(e.delegateTarget);
            var href = $(this).data('href');
            doBulkAction(href);
            $modalDiv.addClass('loading');
            setTimeout(function() {
                $modalDiv.modal('hide').removeClass('loading');
            }, 1000)
        });
    $('#confirm-batch').on('show.bs.modal', function(e) {
            var data = $(e.relatedTarget).data();
            $('.btn-ok', this).data('href', data.href);
        });

    $('.js-bulk-button').on('click', function(e){
      e.preventDefault();
    });
   
</script>