{% if data['value'] and ( data['value']['from'] or data['value']['to']) %}
<span class="filter-state">
    <small>{{ filtertype.filterLabel |trans }}</small>
    <span class="badge">
        {% if data['value']['from'] %}
            {{ 'filter.periode.from' | trans({}, 'EasyAdminPlusBundle') }} {{ data['value']['from'] }}
        {% endif %}
        {% if data['value']['to'] %}
            {{ 'filter.periode.to' | trans({}, 'EasyAdminPlusBundle') }} {{ data['value']['to'] }}
        {% endif %}
    </span>
</span>
{% endif %}

