
{% set confirm = true %}
{% if field_options['confirm'] is defined %}
  {% set confirm = field_options['confirm'] %}
{% endif %}
{% if entity_config['wf_confirm'] is defined %}
  {% set confirm = entity_config['wf_confirm'] %}
{% endif %}


<div class="btn-group workflow">
  <button type="button" class="btn btn-xs dropdown-toggle btn-workflow-current" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ ("wf.etat."~item.etat)|trans}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
   {% for transition in workflow_transitions(item) %}
        {% if workflow_can(item, transition.name) %}
            {% set path = path('lle_easy_admin_plus_wf', {'entity': 'App\\Entity\\'~app.request.get('entity'), 'id': item.id, 'transition':transition.name } ) %}
            <li>
                <a class="btn btn-xs btn-workflow"
                  {% if confirm %}
                    data-toggle="modal" data-target="#confirm-wf" data-href="{{path }}" 
                  {% else %}
                    href="{{ path }}"
                  {% endif %}

                >

                    <i class="fa fa-fw fa-angle-right"></i>
                        {{ ("wf.transition."~transition.name)|trans }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
  </ul>
</div>


<div id="confirm-wf" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>{{ 'wf_modal.title'|trans({}, 'EasyAdminPlusBundle') }}</h4>
                <p>{{ 'wf_modal.content'|trans({}, 'EasyAdminPlusBundle') }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">
                    {{ 'action.cancel'|trans({}, 'EasyAdminPlusBundle') }}
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-ok" id="modal-wf-button" >
                    {{ 'wf_modal.action'|trans({}, 'EasyAdminPlusBundle') }}
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    $('tr[data-id={{item.id}}]').addClass( "wf-{{item.etat}}" );
    
    $('#confirm-wf').on('click', '.btn-ok', function(e) {
            var $modalDiv = $(e.delegateTarget);
            var href = $(this).data('href');
            document.location.href= href;
            $modalDiv.addClass('loading');
            setTimeout(function() {
                $modalDiv.modal('hide').removeClass('loading');
            }, 1000)
        });

    $('#confirm-wf').on('show.bs.modal', function(e) {
            var data = $(e.relatedTarget).data();
            $('.btn-ok', this).data('href', data.href);
        });


</script>
