{% extends '@BaseEasyAdmin/default/show.html.twig' %}

{% block page_title %}
{% set _trans_parameters = _trans_parameters|merge({ '%entity_toString%': entity }) %}
{{ block('content_title')|striptags|raw }}
{% endblock %}

{% block content_header %}
{% set _trans_parameters = _trans_parameters|merge({ '%entity_toString%': entity }) %}
          {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}
          {% set _request_parameters = { entity: _entity_config.name, referer: app.request.query.get('referer') } %}
          {% set _show_actions = _show_actions|prune_item_actions(_entity_config, [], entity) %}

   <div class=" pull-right btn-group ">
      {% block show_actions %}
          {{ include('@LleEasyAdminPlus/default/includes/_actions.html.twig', {
              actions: _show_actions,
              request_parameters: _request_parameters,
              translation_domain: _entity_config.translation_domain,
              trans_parameters: _trans_parameters,
              item_id: _entity_id,
              item: entity
          }, with_context = false) }}
      {% endblock show_actions %}
  </div>
  {{ parent() }}
  {% if _entity_config.show.header_template is defined %}
      {{ include(_entity_config.show.header_template, {
          entity: entity,
          trans_parameters: _trans_parameters,
          item_id: _entity_id
      }) }}
  {% endif %}
  {% block show_header %}
  {% if not _entity_config.show.hide_log_info|default(false) %}
      <div class="small">
        <ul class="inline">
          {% if entity.createdAt is defined and entity.createdAt %}
            <li>{{'blame.created_at'|trans({},'EasyAdminPlusBundle') }}&nbsp;{{entity.createdAt|date('d/m/Y H:i')}}
              {% if entity.createdBy is defined and entity.createdBy %}
                {{'blame.by'|trans({},'EasyAdminPlusBundle') }}
                {{ entity.createdBy }}
              {% endif %}
            </li>
          {% endif %}
          {% if entity.updatedAt is defined and entity.updatedAt %}
            <li>{{'blame.updated_at'|trans({},'EasyAdminPlusBundle') }}&nbsp;{{entity.updatedAt|date('d/m/Y H:i')}}
              {% if entity.updatedBy is defined and entity.updatedBy %}
                {{'blame.by'|trans({},'EasyAdminPlusBundle') }}
                {{ entity.updatedBy }}
              {% endif %}
            </li>
          {% endif %}
        </ul>
      </div>
  {%  endif %}
  {%  endblock %}

{% endblock %}

{% block main %}
{% set fields = fields|prune_item_fields(_entity_config, [], entity) %}
<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#general" data-toggle="tab" aria-expanded="true">{{'tab.main'|trans({},'EasyAdminPlusBundle')}}</a></li>
    {% set hasTab = false %}
    {% for field, metadata in fields    %}
      {% if metadata.type == 'tab' or metadata.type == 'sublist' %}
          {%  set count = 0 %}
          {% if metadata.property is defined and (metadata.show_count is defined and metadata.show_count) or (metadata.hidden_if_empty is defined and metadata.hidden_if_empty) %}
              {%  set count = attribute(entity, metadata.property)|length %}
          {%  endif %}

          <li class="" {% if metadata.hidden_if_empty is defined and metadata.hidden_if_empty and count < 1 %}style="display:none;"{%  endif %}>
                <a href="#{{metadata.id}}" id="tab-{{metadata.id}}" data-toggle="tab" aria-expanded="false">
                    {{metadata.label|trans()}}
                   {% if metadata.show_count is defined and metadata.show_count and metadata.property is defined %}({{ count }}){%  endif %}
                </a>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="general">
    {% block show_fields %}
        <div class="form-horizontal row">
        {% set div_ouvert = false %}
        {% for field, metadata in fields if metadata.type not in ['tab','sublist']  %}
          {% if metadata.type == 'group' %}
              {% if div_ouvert %}
                  </div></div></div>
              {% endif %}
              {%  if (metadata.roles is defined and is_granted(metadata.roles)) or metadata.roles is not defined %}
                  {% set div_ouvert = true %}
                  {% set label_css_class = metadata.label_css_class ?? 'col-sm-2' %}
                  {% set value_css_class = metadata.value_css_class ?? 'col-sm-10' %}
                  <div class="field-group col-xs-12 {{ metadata.css_class|default('') }} " >
                    <div class="{% if metadata.label|default(false) or metadata.icon|default(false) %} box box-default {%  endif %} {%  if metadata.close is defined and metadata.close %}collapsed-box{%  endif %}">

                      {% if metadata.label|default(false) or metadata.icon|default(false) %}
                          <div class="box-header with-border">
                              <h3 class="box-title">
                                  {% if metadata.icon|default(false) %}
                                      <i class="fa fa-{{ metadata.icon }}"></i>
                                  {% endif %}
                                  {{ metadata.label|trans|raw }}
                              </h3>
                              <div class="box-tools pull-right">
                                  {%  if metadata.close is defined and metadata.close %}
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                    {%  else %}
                                           <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                    {%  endif %}
                              </div>
                          </div>
                      {% endif %}
                      <div class="box-body" {%  if metadata.close is defined and metadata.close %}style="display:none;"{%  endif %}>
              {%  endif %}
          {% else %}
              {% block show_field %}
                  {% if easyadmin_render_field_for_show_view(_entity_config.name, entity, metadata) != '' %}

                  <div class="form-group field-{{ metadata.type|default('default')|lower }} {{ metadata.css_class|default('') }}">
                      <label class="{{ label_css_class|default('col-sm-2') }}  control-label">
                          {{ (metadata.label ?: field|humanize)|trans(_trans_parameters)|raw }}
                      </label>
                      <div class="{{ value_css_class|default('col-sm-10') }} ">
                          <div class="form-control">
                              {{ include('@EasyAdmin/default/_field.html.twig',{
                                  _item_id: entity.id,
                                  metadata: metadata,
                                  field: field,
                                  _entity_config: _entity_config,
                                  item: entity,
                                  value: easyadmin_render_field_for_show_view(_entity_config.name, entity, metadata),
                                  view: 'show'
                              }) }}
                          </div>

                          {% if metadata.help|default('') != '' %}
                              <span class="help-block"><i class="fa fa-info-circle"></i> {{ metadata.help|trans|raw }}</span>
                          {% endif %}

                      </div>
                  </div>
              {% endif %}
              {% endblock %}
          {% endif %}
        {% endfor %}
        {% if div_ouvert %}
            </div></div></div>
        {% endif %}

        </div></div><!-- /.tab-pane Général -->
        {# tabs #}
        {% for field, metadata in fields    %}
            {% if metadata.type == 'tab' %}
              <div class="tab-pane" id="{{metadata.id}}">
                {% set action = "" %}
                {% if ":" in metadata.action or "." in metadata.action %}
                  {% set action = metadata.action %}
                {% else %}
                  {% set action = "Lle\\EasyAdminPlusBundle\\Controller\\AdminController:"~metadata.action %}
                {% endif %}
                {{ render(controller(action ,{'request':app.request, 'item':entity, 'options':metadata.options|default({}) })) }}
              </div>
              <!-- /.tab-pane -->
            {% elseif metadata.type == 'sublist' %}
              <div class="tab-pane" id="{{metadata.id}}">
                  {% set action = "Lle\\EasyAdminPlusBundle\\Controller\\AdminController:embeddedListAction" %}
                  {% set items = null %}
                  {% set entity_name = metadata.entity %}
                  {% if metadata.property is defined %}
                      {% set items = attribute(entity, metadata.property) %}
                  {% endif %}
                {{ render(controller(action ,{'request':app.request, 'entity':entity_name, 'items':items, 'metadata': metadata, 'parent':entity })) }}
              </div>
              <!-- /.tab-pane -->
            {% endif %}
        {% endfor %}
    {% endblock %}

    <!-- /.tab-content -->
  </div>
  <!-- /.nav-tabs-custom -->
</div>
  <div class="button-action">
      {% block item_actions %}
          {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}
          {% set _request_parameters = { entity: _entity_config.name, referer: app.request.query.get('referer') } %}
          {% set _show_actions = _show_actions|prune_item_actions(_entity_config, [], entity) %}

          {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
              actions: _show_actions,
              request_parameters: _request_parameters,
              translation_domain: _entity_config.translation_domain,
              trans_parameters: _trans_parameters,
              item_id: _entity_id,
              item: entity
          }, with_context = false) }}
      {% endblock item_actions %}
  </div>

    {% block delete_form %}
        {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'show',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
        {{ include('@EasyAdmin/default/includes/_delete_sub_form.html.twig', {
            view: 'show',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('a.action-sub-delete').on('click', function(e) {
                e.preventDefault();
                $('#delete-sub-form').attr('action', $(this).attr('href'));
                $('#modal-sub-delete').modal({ backdrop: true, keyboard: true })
                    .off('click', '#modal-sub-delete-button')
                    .on('click', '#modal-sub-delete-button', function () {
                        $('#delete-sub-form').trigger('submit');
                    });
            });
        });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        if(window.location.hash) {
            $('#tab-'+window.location.hash.substr(1)).tab('show');
        }
        {#% if app.request.query.get('_anchor') is defined %#}
        $('#tab-{{app.request.query.get('_anchor')}}').tab('show');
        {#% endif %#}

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            tab = $(e.target).attr('href');
            insertParam('_anchor', tab.substring(1));
            window.location.hash = tab;
        })

    });
    </script>
{% endblock %}

{% block head_stylesheets %}
{{ parent() }}
<style>
@media print
{
    .nav-tabs, .button-action, .sf-display-none {
    	display: none !important;
    }
}
</style>
{% endblock %}


