{% extends '@BaseEasyAdmin/default/show.html.twig' %}

{% block page_title %}
{% set _trans_parameters = _trans_parameters|merge({ '%entity_toString%': entity }) %}
{{ block('content_title')|striptags|raw }}
{% endblock %}

{% block content_header %}
{% set _trans_parameters = _trans_parameters|merge({ '%entity_toString%': entity }) %}

   <div class=" pull-right btn-group ">
      {% block show_actions %}
          {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}
          {% set _request_parameters = { entity: _entity_config.name, referer: app.request.query.get('referer') } %}

          {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
              actions: _show_actions,
              request_parameters: _request_parameters,
              translation_domain: _entity_config.translation_domain,
              trans_parameters: _trans_parameters,
              item_id: _entity_id
          }, with_context = false) }}
      {% endblock show_actions %}
  </div>
  {{ parent() }}
  {% if _entity_config.show.header_template is defined %}
      {{ include(_entity_config.show.header_template, {
          entity: entity,
          trans_parameters: _trans_parameters,
          item_id: _entity_id
      }) }}
  {% endif %}
  <div class="small">
    <ul class="inline">
      {% if entity.createdAt is defined %}
        <li>{{'blame.created_at'|trans({},'EasyAdminPlusBundle') }}&nbsp;{{entity.createdAt|date('d/m/Y H:i')}}
          {% if entity.createdBy %}
            {{'blame.by'|trans({},'EasyAdminPlusBundle') }}
            {{ entity.createdBy }}
          {% endif %}
        </li>
      {% endif %}
      {% if entity.updatedAt is defined %}
        <li>{{'blame.updated_at'|trans({},'EasyAdminPlusBundle') }}&nbsp;{{entity.updatedAt|date('d/m/Y H:i')}}
          {% if entity.updatedBy %}
            {{'blame.by'|trans({},'EasyAdminPlusBundle') }}
            {{ entity.updatedBy }}
          {% endif %}
        </li>
      {% endif %}
    </ul>
  </div>

{% endblock %}

{% block main %}

<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#general" data-toggle="tab" aria-expanded="true">{{'tab.main'|trans({},'EasyAdminPlusBundle')}}</a></li>
    {% set hasTab = false %}
    {% for field, metadata in fields    %}
      {% if metadata.type == 'tab' or metadata.type == 'sublist' %}
        <li class="">
          <a href="#{{metadata.id}}" id="tab-{{metadata.id}}" data-toggle="tab" aria-expanded="false">{{metadata.label|trans()}}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="general">
    {% block show_fields %}
        <div class="form-horizontal row">
        {% set div_ouvert = false %}
        {% for field, metadata in fields if metadata.type not in ['tab','sublist']  %}
          {% if metadata.type == 'group' %}
              {% if div_ouvert %}
                  </div></div></div>
              {% endif %}
              {% set div_ouvert = true %}
              <div class="field-group col-xs-12 {{ metadata.css_class|default('') }}">
                <div class="box box-default">

                  {% if metadata.label|default(false) or metadata.icon|default(false) %}
                      <div class="box-header with-border">
                          <h3 class="box-title">
                              {% if metadata.icon|default(false) %}
                                  <i class="fa fa-{{ metadata.icon }}"></i>
                              {% endif %}
                              {{ metadata.label|trans|raw }}
                          </h3>
                      </div>
                  {% endif %}
                  <div class="box-body">
          {% else %}
              {% block show_field %}
                  {% if easyadmin_render_field_for_show_view(_entity_config.name, entity, metadata) != '' %}
                  
                  <div class="form-group field-{{ metadata.type|default('default')|lower }} {{ metadata.css_class|default('') }}">
                      <label class="col-sm-2 control-label">
                          {{ (metadata.label ?: field|humanize)|trans(_trans_parameters)|raw }}
                      </label>
                      <div class="col-sm-10">
                          <div class="form-control">
                              {{ easyadmin_render_field_for_show_view(_entity_config.name, entity, metadata) }}
                          </div>

                          {% if metadata.help|default('') != '' %}
                              <span class="help-block"><i class="fa fa-info-circle"></i> {{ metadata.help|trans|raw }}</span>
                          {% endif %}

                      </div>
                  </div>
              {% endif %}
              {% endblock %}
          {% endif %}
        {% endfor %}
        {% if div_ouvert %}
            </div></div></div>
        {% endif %}

        </div></div><!-- /.tab-pane Général -->
        {# tabs #}
        {% for field, metadata in fields    %}
            {% if metadata.type == 'tab' %}
              <div class="tab-pane" id="{{metadata.id}}">
                {% set action = "" %}
                {% if ":" in metadata.action %}
                  {% set action = metadata.action %}
                {% else %}
                  {% set action = "Lle\\EasyAdminPlusBundle\\Controller\\AdminController:"~metadata.action %}
                {% endif %}

                {{ render(controller(action ,{'request':app.request, 'item':entity })) }}
              </div>
              <!-- /.tab-pane -->
            {% elseif metadata.type == 'sublist' %}
              <div class="tab-pane" id="{{metadata.id}}">
                {% set action = "Lle\\EasyAdminPlusBundle\\Controller\\AdminController:embeddedListAction" %}
                {% set items = attribute(entity, metadata.property) %}
                {% set entity_name = metadata.entity %}   
                {{ render(controller(action ,{'request':app.request, 'entity':entity_name, 'items':items, 'metadata': metadata })) }}
              </div>
              <!-- /.tab-pane -->
            {% endif %}              
        {% endfor %}
    {% endblock %}

    <!-- /.tab-content -->
  </div>
  <!-- /.nav-tabs-custom -->
</div>
  <div class="button-action">
      {% block item_actions %}
          {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}
          {% set _request_parameters = { entity: _entity_config.name, referer: app.request.query.get('referer') } %}

          {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
              actions: _show_actions,
              request_parameters: _request_parameters,
              translation_domain: _entity_config.translation_domain,
              trans_parameters: _trans_parameters,
              item_id: _entity_id
          }, with_context = false) }}
      {% endblock item_actions %}
  </div>

    {% block delete_form %}
        {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'show',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        if(window.location.hash) {
            $('#tab-'+window.location.hash.substr(1)).tab('show');
        }

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            tab = $(e.target).attr('href');
            window.location.hash = tab;
        })

    });
    </script>
{% endblock %}

